.heading-xs {
  font-size: 1.4rem;
  font-weight: 500;
  @include respond(desktop) {
    font-size: 1.8rem;
  }
}

.heading-sm {
  font-size: 1.5rem;
  font-weight: 500;
  @include respond(desktop) {
    font-size: 2.4rem;
  }
}

.heading-md {
  font-size: 1.6rem;
  @include respond(desktop) {
    font-size: 2.4rem;
  }
}

.heading-lg {
  font-size: 2rem;
  @include respond(desktop) {
    font-size: 3.2rem;
  }
}

.paragraph-sm {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba($pure-white, 0.7);
  @include respond(desktop) {
    font-size: 1.3rem;
  }
}

/* Margin */
.m-block-1 {
  margin-block: 1rem;
}
.m-block-2 {
  margin-block: 2rem;
}
.m-block-3 {
  margin-block: 3rem;
}
.m-block-4 {
  margin-block: 4rem;
}
.m-block-5 {
  margin-block: 5rem;
}
