.card {
  position: relative;
  overflow: hidden;

  & > img {
    border-radius: 1rem;
  }

  &__bookmark {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba($dark-blue, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
      background: $pure-white;

      img {
        filter: invert(1);
      }
    }
  }

  & .absolute {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
}
