header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $semi-dark-blue;
  padding: 1.5rem;
  & > * {
    width: 33.3333%;
  }
  & .logo img {
    width: 3rem;
  }
  & .menu ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;

    & img {
      width: 2rem;
    }
  }
  & .avatar {
    text-align: right;

    & img {
      width: 3rem;
    }
  }
}
