.search-bar {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;

  & input {
    display: block;
    width: 100%;
    background: transparent;
    border: 0;
    caret-color: $red;
    &:focus,
    &:active {
      outline: 0;
      border-bottom: 1px solid $pure-white;
    }
  }
}
